/*
* #4981F2 - Azul
* #578BF2 - Azul Opaco
* #99B6F2 - Azul Opaco (+)
* #9BD1F2 - Azul Bebê
* #262626 - Preto
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border_box;
}

header{
  max-width: 100%;
  height: 90vh;
  background: url('../images/headerCape.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
